:root {
    --clr-900: #0F172A;
    --clr-800: #1e293b;
    --clr-700: #334155;
    --clr-600: #475569;
    --clr-500: #64748b;
    --clr-400: #94a3b8;
    --clr-300: #cbd5e1;
    --clr-200: #e2e8f0;
    --clr-100: #f1f5f9;
    --clr-50: #f8fafc;

    --ff-main: 'Roboto', sans-serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    background-color: var(--clr-300);
    font-family: var(--ff-main);
    color: var(--clr-900);
}

/****************** Header ******************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: var(--clr-600);
    color: var(--clr-100);
}

#book-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1.5em 2em;
    border: none;
    border-radius: 8px;
    background-color: var(--clr-100);
    transform: translate(-50%, -50%);
}

#book-dialog::backdrop {
    background: linear-gradient(-45deg, red, blue);
    opacity: 0.2;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: var(--clr-900);
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container > input {
    padding: 0.5em;
    background-color: var(--clr-50);
    font-size: 14px;
    outline: none;
    border: 1px solid var(--clr-300);
    border-radius: 8px;
    transition: all 0.15s 0s ease-in-out;
}

.input-container > input:hover,
.input-container > input:focus-visible {
    box-shadow: 0px 2px 5px 0px rgba(0 0 0 / 0.1);
}

.input-container > * {
    width: 100%;
    max-width: 15rem;
}

.button-container {
    display: flex;
    gap: 2em;
}

#cancel-form,
#submit-form {
    padding: 1em 1.5em;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.15s 0s ease-in-out;
}

#cancel-form {
    background-color: transparent;
    color: var(--clr-600);
}

#cancel-form:hover {
    background-color: var(--clr-200);
}

#submit-form {
    background-color: var(--clr-800);
    color: var(--clr-100);
}

#submit-form:hover {
    background-color: var(--clr-700);
}

#add-book {
    padding: 1em 1.5em;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--clr-800);
    color: var(--clr-100);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.15s 0s ease-in-out;
}

#add-book:hover,
#add-book:focus-visible {
    background-color: var(--clr-700);
}

/****************** List of books ******************/

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1em;
    padding: 1em;  
}

.book {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    background-color: var(--clr-600);
    color: var(--clr-100);
    border-radius: 8px;
    transition: all 0.15s 0s ease-in-out;
}

.book > div {
    display: flex;
    justify-content: space-between;
}

.book div > button {
    padding: 1em 1.5em;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.book button.read-btn {
    color: var(--clr-100);
    background-color: var(--clr-700);
}

.book button.remove-btn {
    color: red;
}

.book.read {
    background-color: var(--clr-700);
}